.grilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 10px;
  padding: 10px;
}

.carta {
  background: #eee;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
